.logo {
  z-index: 100;

  position: absolute;
  left: 1%;
  top: 2%;
  text-align: center;
  line-height: 2.25rem;
  h1 {
    font-size: 3.55rem;
    color: #ffffff;
  }
  h2 {
    text-align: start;
    font-size: 1.75rem;
    margin-top: 7.5px;
    border-top: 2px solid #f3d63a;
    border-bottom: 2px solid #f3d63a;
    height: 10px;
    border-radius: 2px;
  }
}

header {
  background-color: #000000;
  height: 100px;

  nav {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.75rem;
    float: right;
    padding-right: 100px;
    margin-top: -3px;

    ul {
      z-index: 100;

      li:last-child {
        padding-right: none;
      }

      li {
        height: auto;
        display: inline-block;
        padding-right: 25px;

        a {
          list-style-type: none;
          text-decoration: none;
          color: #ffffff;
          margin: 0;
          padding: 0;
          font-family: "Cabin", sans-serif;
          font-weight: bold;
          font-size: 1.25rem;
          display: block;
          padding: 0.5rem 1rem;
          text-transform: uppercase;
          transition: 0.5s color;
        }
        a:hover {
          color: #f3d63a;
          transition: 0.5s color;
          opacity: 0.8;
        }
      }
    }
  }
}

#etlap {
  color: #f3d63a;
  border-bottom: 2.5px solid #f3d63a;
  transition: 0.5s;
}
#etlap:hover {
  opacity: 0.5;
  transition: 0.5s;
}

.hero {
  background-image: url("./header-imgs/etlap-header.jpg");
  height: 40vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  h1,
  h1::before,
  h1::after {
    text-align: center;
    color: white;
    font-family: "Cabin", sans-serif;
    font-size: 5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
  }
}
.hero-overlay,
.hero-overlay::before,
.hero-overlay::after {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  width: 100%;
  margin-top: 100px;
  height: 40vh;
  position: absolute;
  top: 0;
  z-index: 1;
}

.hero-overlay-fix {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  width: 100%;
  margin-top: 100px;
  height: 30vh;
  position: absolute;
  top: 0;
  z-index: 10;
}

footer {
  margin-top: 15vh;
  height: 20vh;
  background-color: #404040;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: #ffffff;
  font-family: "Cabin", sans-serif;
  position: relative;

  .social-media {
    grid-column: 1/2;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    .follow {
      font-size: 16px;
      text-transform: uppercase;
    }
    .fab {
      color: #ffffff;
      font-size: 1.5rem;
      margin-top: 10px;
      padding-right: 10px;
      padding-left: 10px;
      transition: all 0.5s;
    }

    .fab:hover {
      color: rgba(217, 191, 55, 0.9);
      transition: all 0.5s;
    }
  }
  .open {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    h6 {
      font-size: 16px;
      letter-spacing: 2px;
      padding-bottom: 20px;
    }
    p {
      line-height: 1.5rem;
    }
  }
  .rights {
    grid-column: 3/4;
    line-height: 2rem;
    font-size: 16px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }
}
@media only screen and (max-width: 700px) {
  nav {
    display: grid;
    position: absolute;
    grid-template-columns: 1fr;
    grid-template-rows: 5fr;
    background-color: #fff;
    width: 50vw;
    z-index: 250;
    height: 100vh;
    left: -100%;
    transition: all 0.5s;
    padding-left: 7.5vw;
    box-shadow: inset 10px 0px 30px 00px rgba(0, 0, 0, 0.25);
    ul {
      z-index: 250;
      display: grid;
    }
    ul li a {
      color: #000;
      margin-left: 0;
      margin-left: 0;
      margin-top: 7.5vh;
      font-size: 1.4rem;
    }
  }
  #etlap {
    width: 50%;
  }

  .hamburger {
    display: inline-block;
    position: relative;
    margin-right: 20px;
    margin-top: 15px;
    z-index: 100;
    cursor: pointer;
    transition: all 0.5s;
    .fa-bars {
      font-size: 50px;
      color: #fff;
    }
  }
  .close {
    display: inline-block;
    position: relative;
    margin-right: 20px;
    margin-top: 10px;
    z-index: 100;
    cursor: pointer;
    display: none;
    transition: all 0.5s;

    .fa-times {
      font-size: 62.5px;
      color: #fff;
    }
  }
  footer {
    height: 30vh;
    display: grid;
    grid-template-rows: 1fr 1fr 2fr;
    grid-template-columns: 1fr;
    .social-media {
      grid-row: 1/1;
      display: grid;
      grid-template-columns: 2fr 1fr 1fr 2fr;
      p {
        font-size: 12px;
      }
      .follow {
        padding-top: 3px;
        font-size: 12px;
      }
      .fab {
        font-size: 20px;
      }
    }
    .open {
      grid-row: 2/2;
      font-size: 12px;

      h6 {
        font-size: 12px;
        padding-top: 30px;
        padding-bottom: 0px;
      }
      p {
        line-height: 1rem;
      }
    }

    .rights {
      padding-top: 10px;
      grid-row: 3/3;
      font-size: 12px;
      line-height: 1rem;
    }
  }
  header {
    height: 90px;
  }
  .hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 40vh;
    margin-top: 90px;
  }
  .hero {
    height: 40vh;
  }
}

@media only screen and (max-width: 1135px) {
  header {
    nav {
      padding-right: 0px;
    }
  }
}
@media only screen and (max-width: 900px) {
  header {
    nav {
      ul li a {
        font-size: 1rem;
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
}
